# Credentials and Secrets
.env
*.pem
*.key

# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build/Dist folders
dist/
build/
out/

# IDE Settings
.vscode/
.idea/